<html>
    <head>
        <title>Django Practice</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Practice</a></h1>
        </div>

        <div>
            <p>published: 29.July.2020, 15:44</p>
            <h2><a href="">My first post</a></h2>
            <p>So this is going to be my first paragraph. I really don't know what I'll end up linking this to but hey, it's cool.</p>
        </div>

        <div>
            <p>published 29.July.2020, 15:47</p>
            <h2><a href="">My Second Post</a></h2>
            <p>So this will be my second post, and I'm not so sure if the information I got from 2014 will still work in 2020.</p>
        </div>
    </body>
</html>